[submodule "embodied_active_learning/src/embodied_active_learning/uncertainty_estimation/light-weight-refinenet"]
	path = embodied_active_learning/src/embodied_active_learning/uncertainty_estimation/light-weight-refinenet
	url = https://github.com/renezurbruegg/light-weight-refinenet
