<launch>
    <node pkg="habitat_ros" name="habitat_ros" type="habitat_ros.py" output="screen" cwd="node" >
            <rosparam file="$(find habitat_ros)/config/default_params.yaml" command="load" />
    </node>


 <arg name="voxel_size" default="0.10"/>
    <arg name="voxels_per_side" default="16"/>
    <arg name="ray_length" default="5.0"/>
    <arg name="method" default="merged"/>
    <arg name="verbose_voxblox" default="false"/>
    <arg name="delay" default="3.0"/>


         <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr">
            <remap from="pointcloud" to="/pts"/>
            <param name="use_tf_transforms" value="true"/>
            <param name="publish_tsdf_map" value="true" />
            <param name="publish_esdf_map" value="true" />
            <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
            <param name="tsdf_voxels_per_side" value="$(arg voxels_per_side)" />
            <param name="color_mode" value="color" />
            <param name="update_mesh_every_n_sec" value="1.0" />
            <param name="method" value="$(arg method)" />
            <param name="max_ray_length" value="$(arg ray_length)" />
            <param name="allow_clear" value="true" />
            <param name="verbose" value="$(arg verbose_voxblox)" />
            <param name="publish_map_incremental" value="true" />
        </node>

</launch>
