ipykernel>=4.8.2
ipython>=6.4.0
ipython-genutils>=0.2.0
jupyter>=1.0.0
jupyter-client>=5.2.3
jupyter-console>=5.2.0
jupyter-core>=4.4.0
matplotlib
notebook>=5.7.2
numpy
opencv-python
Pillow
scikit-image>=0.14.0
six>=1.11.0
torch
tqdm>=4.23.4
urllib3>=1.24.2
git+https://github.com/drsleep/DenseTorch.git
albumentations
pytest-depends>=1.0.1
pytest-mock>=3.1.1
pytest-repeat>=0.8.0
setuptools
tensorflow
tf
rospy
sklearn
scikit-learn
PyYAML
open3d
scipy
airsim
pandas
torchvision
catkin