matplotlib
numpy
opencv-python
Pillow
torch
git+https://github.com/drsleep/DenseTorch.git
albumentations
setuptools
tensorflow
tf
rospy
sklearn
scikit-learn
PyYAML
open3d
scipy
airsim
pandas
torchvision
catkin
