<launch>

    <!-- Voxblox arguments -->
    <arg name="voxel_size" default="0.1"/>
    <arg name="voxels_per_side" default="16"/>
    <arg name="ray_length" default="20.0"/>
    <arg name="method" default="fast"/>
    <arg name="verbose_voxblox" default="false"/>
    <arg name="delay" default="3.0"/>

    <arg name="mav_name" default="drone_1"/>

    <!--  Experiment arguments -->
    <!-- located in this package, contains params for uncertainty estimation and data acquisation -->
    <arg name="experiment_config_embodied" default="SimpleBaseline.yaml"/>
    <!-- Located in planner app package -->
    <arg name="experiment_config" default="CityBuilding.yaml"/>
    <arg name="planner_config" default="random_moving_with_u.yaml"/>


    <rosparam command="load" file="$(find active_3d_planning_app_curiosity)cfg/experiments/$(arg experiment_config)"/>
    <rosparam command="load" file="$(find embodied_active_learning)cfg/experiments/$(arg experiment_config_embodied)"/>

    <!-- static world transform -->
    <node pkg="tf" type="static_transform_publisher" name="tf_drone_world" args="0 0 0 0 0 0 1 /drone_1 /world 100"/>

    <!-- Uncertainty Management -->
    <group ns="uncertainty">

        <node name="voxblox_uncertainty_node" pkg="voxblox_ros" type="esdf_server" output="screen"
              args="-alsologtostderr">
            <param name="use_tf_transforms" value="true"/>
            <remap from="pointcloud" to="/semseg/points"/>
            <param name="publish_tsdf_map" value="true"/>
            <param name="publish_esdf_map" value="true"/>
            <param name="tsdf_voxel_size" value="$(arg voxel_size)"/>
            <param name="tsdf_voxels_per_side" value="$(arg voxels_per_side)"/>
            <param name="color_mode" value="color"/>
            <param name="intensity_colormap" value="rainbow"/>
            <param name="update_mesh_every_n_sec" value="1.0"/>
            <param name="method" value="$(arg method)"/>
            <param name="max_ray_length" value="$(arg ray_length)"/>
            <param name="allow_clear" value="true"/>
            <param name="verbose" value="$(arg verbose_voxblox)"/>
            <param name="publish_map_incremental" value="true"/>
            <param name="min_ray_length_m" value="0.2"/>
        </node>

    </group>

<group ns="planner">
        <!-- Voxblox -->
        <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr">
            <remap from="pointcloud" to="/airsim/airsim_node/drone_1/front/DepthPlanner/registered/points"/>
            <param name="use_tf_transforms" value="true"/>
            <param name="publish_tsdf_map" value="true"/>
            <param name="publish_esdf_map" value="true"/>
            <param name="tsdf_voxel_size" value="$(arg voxel_size)"/>
            <param name="tsdf_voxels_per_side" value="$(arg voxels_per_side)"/>
            <param name="color_mode" value="color"/>
            <param name="update_mesh_every_n_sec" value="1.0"/>
            <param name="method" value="$(arg method)"/>
            <param name="max_ray_length" value="$(arg ray_length)"/>
            <param name="allow_clear" value="true"/>
            <param name="verbose" value="$(arg verbose_voxblox)"/>
            <param name="publish_map_incremental" value="true"/>
            <param name="min_ray_length_m" value="0.2"/>
        </node>

<!--         Planner -->
        <node name="planner_node" pkg="active_3d_planning_app_curiosity" type="curiosity_planner_node" output="screen">
            <!-- Voxblox Server -->
            <remap from="planner_node/esdf_map_in" to="/uncertainty/voxblox_uncertainty_node/esdf_map_out"/>
            <remap from="planner_node/tsdf_map_in" to="/uncertainty/voxblox_uncertainty_node/tsdf_map_out"/>
            <!-- Uncertainty Map -->
            <remap from="/uncertainty/esdf_map_in" to="/uncertainty/voxblox_uncertainty_node/esdf_map_out"/>
            <remap from="/uncertainty/tsdf_map_in" to="/uncertainty/voxblox_uncertainty_node/tsdf_map_out"/>

            <param name="use_tf_transforms" value="false"/>
            <param name="tsdf_voxel_size" value="$(arg voxel_size)"/>
            <param name="tsdf_voxels_per_srqt_ide" value="$(arg voxels_per_side)"/>
            <param name="update_mesh_every_n_sec" value="1.0"/>
            <param name="publish_traversable" value="false"/>

            <!-- General Settings -->
            <remap from="odometry" to="/airsim/airsim_node/$(arg mav_name)/odom_local_ned"/>
            <remap from="command/trajectory" to="/airsim/$(arg mav_name)/command/trajectory"/>

            <!-- Build the Planner by Configuration     -->
            <rosparam command="load" file="$(find active_3d_planning_app_curiosity)/cfg/planners/$(arg planner_config)"/>
        </node>
    </group>

</launch>
